.wheneverwherever{
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;

}

.a-header{
    height: 450px;
    background-image: url("https://drive.google.com/uc?export=view&id=17G7LGPoq5kgdiiQF-8Cb1mzlF3zaVwzQ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
      
.wheneverwherever #logo{
    line-height: 60px;
}

.wheneverwherever img{
    vertical-align: top;
    /*border: blanchedalmond 5px solid;*/
}

.wheneverwherever #menu{
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wheneverwherever #menu li{
    float: left;
    margin-left: 50px;
    line-height: 60px;
}

.wheneverwherever #menu li a{
    color: #545454;
    font-size: 13px;
    text-decoration: none;
}
.product-list{
    width: 735px;
    margin-left: auto;
    margin-right: auto;
}
.products h3{
    font-size: 24px;
    color: #545454;
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}

.product{
    display: block;
    width: 225px;
    text-align: center;
    text-decoration:none;
    color: black;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.product-name{
    margin-top: 20px;
    margin-bottom: 4px;
}

.clearfix{
    clear: both;
}
